# Estructuras de Datos

A continuación, vamos a poner en práctica lo aprendido en esta unidad. En esta unidad trabajaremos con:
 * listas
 * diccionarios
 * tuplas
 * sets

**NOTA para empezar a trabajar con Colaboratory:** 

**NOTA para empezar a trabajar con Colaboratory:** 

Para comenzar a trabajar con el cuaderno, tienes que conectarte al servidor, para ello, tienes que clickar sobre el boton "conectar" que puedes ver arriba a la derecha:

![ejecutar](https://i.imgur.com/JQHXXw8.gif)

Verás que el botón empieza a cambiar de estados hasta que finalmente se muestra el RAM y el disco duro disponible. Esto indica que ya estamos listos para trabajar!.

Para ir ejecutando las celdas del notebook, coloca el puntero del ratón sobre la celda como se indica a continuación, veras que cuando pones el cursor encima, aparecen los simbolos de "play",  entonces púlsalo para ejecutar la celda. Una vez lo hayas hecho, veras que aparece un número con el número de celdas que has ejecutado en la sesión:

![ejecutar](https://i.imgur.com/Qop9iTm.gif)

Por último, veras que en celdas de código, también introduzco comentarios. Los comentarios son útiles para facilitar el entendimiento del código. Para crear comentarios, sólo tengo que comenzar una línea usando el `#`, por ejemplo:
```python
# Hola!, soy un comentario
# y soy útil para facilitar el entendimiento del código
```

## Listas:

A continuación, vamos a definir nuestra primera lista. Pero antes de ello, recuerda que las listas cumplen estos requisitos:
![lista](https://i.imgur.com/V7BNdt4.png)

Vamos a comenzar definiendo una variable `dias_de_la_semana` que sea una lista que contenga los dias de la semana:

In [2]:
dias_de_la_semana = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

Recuerda que en las listas, cada elemento tiene una posición asociada:
![posiciones](https://i.imgur.com/aAXO2cM.png)

Ahora, voy a imprimir algunas propiedades de la misma:

In [6]:
print(f"Cuantos elementos continene la lista?: {len(dias_de_la_semana)}")
print(f"El segundo elemento: {dias_de_la_semana[1]}")
print(f"El último elemento: {dias_de_la_semana[-1]}")
print(f"Del tercer al quinto elemento: {dias_de_la_semana[2:5]}")

Cuantos elementos continene la lista?: 7
El segundo elemento: Martes
El último elemento: Domingo
Del tercer al quinto elemento: ['Miercoles', 'Jueves', 'Viernes']

Especial atención hay que prestar a como he seleccionado los elementos de la lista, por ejemplo:


*   `[3]` devuelve el elemento que está en la posición 3 empezando por la izquierda (recuerda que la primera posición en python corresponde a 0)
*   `[3:6]` devuelve los elementos que están en la posición 3, 4 y 5
*   `[:6]` devuelve los elementos que están en la posición 0, 1, 2, 3, 4 y 5
*   `[3:]` devuelve los elementos que están en la posición 3, 4, 5, 6.... hasta ultimo elemento de la lista
*   `[:]` devuelve todos los elementos de la lista
*   `[-3:]` devuelve los 3 últimos elementos de la lista
*   `[-2]` devuelve el penúltimo elemento de la lista

Por ejemplo:

In [7]:
# ahora voy a definir una nueva lista:
modelos_coches = ['mercedes', 'ferrari', 'bmw', 'fiat', 'opel', 'citroen', 'ford', 'mustang']

print(modelos_coches[3])
print(modelos_coches[3:6])
print(modelos_coches[:6])
print(modelos_coches[3:])
print(modelos_coches[:])
print(modelos_coches[-3:])
print(modelos_coches[-2])

fiat
['fiat', 'opel', 'citroen']
['mercedes', 'ferrari', 'bmw', 'fiat', 'opel', 'citroen']
['fiat', 'opel', 'citroen', 'ford', 'mustang']
['mercedes', 'ferrari', 'bmw', 'fiat', 'opel', 'citroen', 'ford', 'mustang']
['citroen', 'ford', 'mustang']
ford

Ahora, voy a consumir algunos métodos que tengo disponibles para las listas. Estos métodos me sirven para llevar a cabo operaciones sobre las listas.

Los métodos de las listas que están disponibles, los podemos encontrar en la [documentación de Python](https://docs.python.org/es/3/tutorial/datastructures.html). 

Por ejemplo, si quiero eliminar el último elemento de la lista `dias_de_la_semana`, utilizaré el método `.pop()`:

![pop](https://i.imgur.com/sGJvo6q.png)

In [8]:
dias_de_la_semana.pop(6)

'Domingo'

Ahora, puedo comprobar que `dias_de_la_semana` ya no contiene el `domingo`:

In [9]:
dias_de_la_semana

['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado']

Otro método que le puedo aplicar es `.reverse()`:

![reverse](https://i.imgur.com/f8JUqnn.png)

In [10]:
dias_de_la_semana.reverse()

y ahora, puedo comprobar que `dias_de_la_semana` esta al reves:

In [11]:
dias_de_la_semana

['Sábado', 'Viernes', 'Jueves', 'Miercoles', 'Martes', 'Lunes']

Por último, vamos a generar una lista a partir de un objeto `str` utilizando el método [`.split()`](https://docs.python.org/es/3/library/stdtypes.html#str.split):
![split](https://i.imgur.com/EJosVp0.png)

In [12]:
frase = "hola, que tal estas?. Yo estoy bien!"

In [13]:
type(frase)

str

In [14]:
print(f"Esta es la lista que obtengo si separo usando la ',' como separador: {frase.split(',')}")
print(f"Esta es la lista que obtengo si separo usando el ' ' como separador: {frase.split(' ')}")
print(f"Esta es la lista que obtengo si separo usando el '?.' como separador: {frase.split('?.')}")

Esta es la lista que obtengo si separo usando la ',' como separador: ['hola', ' que tal estas?. Yo estoy bien!']
Esta es la lista que obtengo si separo usando el ' ' como separador: ['hola,', 'que', 'tal', 'estas?.', 'Yo', 'estoy', 'bien!']
Esta es la lista que obtengo si separo usando el '?.' como separador: ['hola, que tal estas', ' Yo estoy bien!']

Venga, ahora te toca practicar. 

¿podrías crear una lista que se llame `frutas` de 2 elementos: `'manzana'` y `'pera'`?

Después, usa el método `.append()` para añadir el elemento `'melon'` (sin acento) al final de la lista:

In [18]:
# TODO: introduce tu código a continuación:
frutas = ['manzana', 'pera']
frutas.append('melon')

# este código que incluyo a continuación es para verifica que lo has hecho bien:
# si al ejecutar esta celda sale algún error, entonces es que lo has hecho mal
assert frutas == ['manzana', 'pera', 'melon']

In [20]:
#con dir sacas todos los metodos que se pueden usar con la variable frutas
dir(frutas)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## diccionarios

Ahora, vamos a trabajar con los diccionarios. Los diccionarios almacenan elementos que siguen el patrón de (clave-valor), por ejemplo:
![dict](https://i.imgur.com/40mLR0L.png)

Por ejemplo, ahora voy a definir mi propio diccionario que contiene:
 * `name` como key y valor asociado el texto: `'Jack'`
 * `age` como key y valor asociado el número: `26`
 * `name` como key y valor asociado la lista: `['ford', 'seat']`

NOTA: A diferencia de las listas, los diccionarios no siguen un orden!

Por supuesto, los diccionarios son objetos con sus própios métodos, los cuales puedes consultar en la [documentación de Python](https://docs.python.org/es/3/tutorial/datastructures.html#dictionaries) y acceder a ellos usando el `"."`.

![dict](https://i.imgur.com/aeBBVdJ.gif)

In [21]:
# define un diccionario:
my_dict = {'name': 'Jack', 'age': 26, 'cars': ['ford', 'seat']}

In [22]:
# obten algunos resultados:

print(f"Obtener todos los valores del diccionario: {my_dict.values()}")
print(f"Obtener todas las claves del diccionario: {my_dict.keys()}")
print(f"Obtener todos los pares de clave-valor del diccionario: {my_dict.items()}")

Obtener todos los valores del diccionario: dict_values(['Jack', 26, ['ford', 'seat']])
Obtener todas las claves del diccionario: dict_keys(['name', 'age', 'cars'])
Obtener todos los pares de clave-valor del diccionario: dict_items([('name', 'Jack'), ('age', 26), ('cars', ['ford', 'seat'])])

Para crear un nuevo par de clave-valor en el diccionario, solo tengo que definirlo de la siguiente forma:

In [23]:
my_dict['location'] = 'Madrid'

In [24]:
my_dict

{'age': 26, 'cars': ['ford', 'seat'], 'location': 'Madrid', 'name': 'Jack'}

Fijate que el orden de los elementos ha cambiado, como hemos dicho antes, los diccionarios no siguen un order preestablecido como si lo hacen las listas.

Venga, ahora te toca practicar. 

¿podrías crear un dicccionario que se llame `coches` de 2 elementos que tenga como keys: `'mercedes'`, `'bmw'` y como valores `'s3'` y `'x1'` respectivamente?

Después, usa añade el elemento `'pontiac'` con valor asociado: `'xrf'`

In [25]:
# TODO: introduce tu código a continuación:
coches = {'mercedes': 's3', 'bmw': 'x1'}
coches['pontiac']='xrf'

# este código que incluyo a continuación es para verifica que lo has hecho bien:
# si al ejecutar esta celda sale algún error, entonces es que lo has hecho mal
assert coches == {'mercedes':'s3', 'bmw':'x1', 'pontiac':'xrf'}

## tuplas

Las tuplas son objetos de tipo secuencia, específicamente es un tipo de dato lista inmutable. Esta no puede modificarse de ningún modo después de su creación.

In [26]:
x = ("apple", "banana", "cherry")

Podemos ver que `x` es una tupla:

In [27]:
type(x)

tuple

Una vez definida una tupla, no podemos ni eliminarle ni añadirle datos, así como tampoco podemos actualizar/modificar los existentes.

Lo que si que podemos hacer es seleccionar valores como hacemos con las listas, por ejemplo:

In [28]:
print(f"Imprimir el primer valor: {x[0]}")
print(f"Imprimir el primer y el segundo valor: {x[:2]}")

Imprimir el primer valor: apple
Imprimir el primer y el segundo valor: ('apple', 'banana')

Por último, puedes crear una tupla a partir de una lista usando el método `tuple`:

In [30]:
coches = ['ford', 'renault']

# crear tupla:
coches_tupla = tuple(coches)

print(f'tipo de coches_tupla: {type(coches_tupla)}')

tipo de coches_tupla: <class 'tuple'>

## Sets (conjuntos)

Un conjunto es una colección desordenada de elementos. Cada elemento del conjunto es único (sin duplicados) y debe ser inmutable (no se puede cambiar).

#### Objeto mutable
Los objetos mutables son objetos cuyo valor se puede cambiar después de su creación. En Python, `list`, `set` y `dict` son mutables.

#### Objeto inmutable
Los objetos inmutables son objetos cuyo valor no se puede cambiar ni modificar después de su creación. En Python, `int`, `float`, `bool`, `string`, `Unicode`, `tuple` son objetos inmutables.

![mutables](https://i.imgur.com/ysSz0Pr.png)

Nota: Puedes aprender más sobre estas diferencias en este [interesante link](https://danyelvillalba7.medium.com/mutable-immutable-everything-is-object-21d598f0ac0d).

Sin embargo, un conjunto en sí mismo es mutable. Podemos agregarle o quitarle elementos.

Los conjuntos también se pueden utilizar para realizar operaciones de conjuntos matemáticos como unión, intersección, diferencia simétrica, etc.

![conjuntos](https://i.imgur.com/RVnYghC.png)

In [31]:
my_set = {1.0, "Hello", (1, 2, 3)}

Por supuesto, al ser un objeto mutable, puedes llevar a acabo muchas operaciones con el mismo:

In [34]:
# defino my_set
my_set = {1, 3}
print(my_set)

# si descomentas la linea 9,
# obtendrás el siguiente error:
# TypeError: 'set' object does not support indexing
# recuerda que los sets son desordenados y no soportan un índice

# my_set[0] #esta es la linea 9 que si la descomentas te da error

# añadir un elemento
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# añadir múltiples elementos
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set) # solo se va a añadir el elemonto 4 pq los sets no pueden tener elementos repetidos

# añadir una lista y otro conjunto:
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8}) #solo se van a añadir los elementos 5, 6, 8 pq los sets no pueden tener elementos repetidos
print(my_set)

# eliminar un elemento
# Output: {1, 2, 3, 4, 5, 8}
my_set.remove(6)
print(my_set)

# eliminar un elemento al azar
# Output: random element
print(my_set.pop())
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 8}
1
{2, 3, 4, 5, 8}

Con los conjuntos, podemos hacer operaciones de conjuntos, por ejemplo:

#### Union:
![union](https://i.imgur.com/HwnRGgz.png)

In [35]:
# Inicializar A y B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# usa el operador: |
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

#### Intersección:
![interseccion](https://i.imgur.com/b4WASyF.png)

In [36]:
# Inicializar A y B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# usa el operador: &
# Output: {4, 5}
print(A & B)

{4, 5}

#### Differencia sobre A:
![differencia_A](https://i.imgur.com/E4LuU9H.png)

In [37]:
# Inicializar A y B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# usa el operador A -
# alternativamente, puedes usar también: A.difference(B)
# Output: {1, 2, 3}
print(A - B)
print(A.difference(B))

{1, 2, 3}
{1, 2, 3}

Nota: la misma diferencia, la podemos calcular sobre B también.

In [38]:
print(B - A)
print(B.difference(A))

{8, 6, 7}
{8, 6, 7}

#### Diferencia simétrica:
![dif_sim](https://i.imgur.com/ODGXb9Q.png)

In [40]:
#la diferencia simetrica te da aquellos elementos q o solo estan en A o solo estan en B

# Inicializar A y B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# usa el operador ^
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

Por último, usando la función `set()` puedes construir conjuntos a partir de listas o textos, por ejemplo:

In [41]:
# defino una lista y un string:
coches = ['mercedes', 'ford', 'mercedes']
desierto = 'sahara'

print(f"Crear un conjunto a partir de una lista: {set(coches)}")
print(f"Crear un conjunto a partir de un texto: {set(desierto)}")

Crear un conjunto a partir de una lista: {'mercedes', 'ford'}
Crear un conjunto a partir de un texto: {'h', 's', 'a', 'r'}

¿Te has dado cuenta de algo importante? **Los conjuntos nunca tienen objetos repetidos!**

Venga, ahora te toca practicar. 

¿podrías crear un par de conjuntos a partir del:

 * string `'djaldedeifo'` 
 * y de la lista `['f', 'r', 'e', 'o', 'p', 'g', 'j', 'r', '0', 'i', 'q']`?

A partir del string, crea un conjunto que se llame `A`.
A partir de la lista, crea un conjunto que se llame `B`

y puedes imprimir los elementos que están en `A` pero que NO están en `B`?

In [42]:
# TODO: introduce tu código a continuación:
A = set('djaldedeifo')
B = set(['f', 'r', 'e', 'o', 'p', 'g', 'j', 'r', '0', 'i', 'q'])

# imprime los valores que están en A y no en B:
print(A-B)

# crea una variable C que sea el conjunto de valores que están en A y no en B:
C = A.difference(B)

# este código que incluyo a continuación es para verifica que lo has hecho bien:
# si al ejecutar esta celda sale algún error, entonces es que lo has hecho mal
assert A == {'d', 'a', 'j', 'o', 'l', 'f', 'i', 'e'}
assert B == {'r', 'p', 'j', 'o', 'f', '0', 'i', 'g', 'q', 'e'}
assert C == {'d', 'l', 'a'}

{'d', 'a', 'l'}